.table {
  margin: 0 0 40px 0;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  display: table;
}

.rower {
  display: table-row;
  background: #f6f6f6;
}
.rower:nth-of-type(odd) {
  background: #e9e9e9;
}
.rower.header {
  font-weight: 900;
  color: #ffffff;
  background: #ea6153;
}
.rower.green {
  background: #27ae60;
}
.rower.blue {
  background: #2980b9;
}

.cell {
  padding: 6px 12px;
  display: table-cell;
}